body {
    background: #d008b9;
    background-position: bottom;
    background-size: cover;
    padding-bottom: 50px;
}

body * {
    font-family: 'Roboto', sans-serif;
}

nav {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1), 0 2px 7px -1px rgba(0,0,0,0.2);
}


nav ul li {
    display: inline-block;
    list-style-type: none;
    font-size: 16px;
    padding: 20px;
    color: #444;
}


nav ul li.right {
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}

.product-master-container {
    border-radius: 2px;
    background: #fff;
    margin-top: 40px;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1), 0 2px 7px -1px rgba(0,0,0,0.2);
}

.product-master-container .heading {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.product-master-container .add-btn-container {
    text-align: center;
    margin-bottom: 15px;
}

.product-master-container .add-btn-container .add-btn {
    display: inline-block;
    width: auto;
    background: rgba(141, 29, 130, 0.8);
    color: #fff;
    font-weight: 400;
    margin-top: 30px;
    border-radius: 3px;
    padding: 10px 30px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.form-container {
    display: none;
}

.form-container .form {
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    margin-top: 20px;
}


.form-container .form h3 {
    font-family: "Titillium Web", sans-serif;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}

.form-container .close-btn-container {
    cursor: pointer;
    text-align: right;
    position: relative;
    top: -54px;
}

.form-container .close-btn-container span {
    margin-top: 4px;
    right: 7px;
    color: #555;
    font-size: 17px;
}

.form-container label {
    font-weight: 500;
    color: #555;
}

.form-container input {
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 15px;
    padding: 5px;
    border-bottom: 1px solid #e1e1e1;
    transition: all 0.5s ease;
}

.form-container input:last-of-type {
    margin-bottom: 0;
}

.form-container input:focus {
    outline: none;
    border-bottom: 2px solid rgba(141, 29, 130, 0.8);
}


.form-container .form .submit-container {
    text-align: center;
}


.form-container .form .submit-container input {
    display: inline-block;
    width: auto;
    background: rgba(141, 29, 130, 0.8);
    color: #fff;
    font-weight: 400;
    margin-top: 30px;
    border-radius: 3px;
    padding: 10px 30px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.product-master-container table {
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.product-master-container th {
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

.table>thead>tr>th {
    border-bottom: none;
}

.table>tbody>tr>td {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.table>tbody>tr>td.tick span {
    color: #08ad08;
}

.product-master-container table td.action {
    cursor: pointer;
    background: #ff9800;
    color: #fafafa;
    text-align: center;
}

